body {
    box-sizing: border-box;
    background-image: linear-gradient(to left top, #b4dbdc, #91c3c6, #6dacb2, #46959e, #087e8b);
    color: white;
    background: rgb(8,126,139);
    background: linear-gradient(90deg, rgba(8,126,139,1) 0%, rgba(180,219,220,1) 100%);
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.dropbtn {
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    background-color: #ffffff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 0px solid rgba(255, 255, 255, 0.3);
    color: #087e8b;
    transition-duration: 300ms;
    transition-property: background-color;
    width: 100%;

    &:hover {
        box-shadow: none;
        border-radius: 10px 10px 10px 0px;
    }

    &:active {
        box-shadow: none;
    }
}
  

.dropdown {
    position: relative;
    display: inline-block;
    width: calc(100% / 4);
    padding: 10px;

    &__content {
        display: none;
        position: absolute;
        border-radius: 0px 10px 10px 10px;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
        border: 0px solid rgba(255, 255, 255, 0.3);
        color: #ffffff;
        z-index: 1;
        min-width: 200px;

        & li {
            list-style: none;
            
            &:hover {
            background-color: #feb06a;
            }
        }

        & ul {
            padding: 0;
        }

        & a {
            color: #ffffff;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        
    }
  }

.dropdown:hover .dropdown__content {display: block;}


.link-q-izi {
    width: 5.1em;
    padding: 10px;

    &__img {
        max-width: 100%;
    }
}

.content {
    display: flex;   
    padding: 30px 40px 0 40px;
    align-items: center;
    justify-content: space-around;

    &__text--primary {
        flex: 1 0 100%;
    }

    &__image {
        display: none;
    }

    @media (min-width: 1500px) {
        padding: 10px 200px;
    }
    
}

.headline {
    font-weight: 200;
    margin: 0 0 40px 0;

    &--big {
        font-size: 56px;

        @media (min-width: 1500px) {
            font-size: 72px;
        }

        &::after{
            content: "";
            display: block;
            background-color: #feb06a;
            height: 2px;
            width: 100%;
            justify-content: center;
            margin-top: 30px;
        }
    }

    &--small {
        font-weight: 300;
        font-size: 28px;

        @media (min-width: 1500px) {
            font-size: 28px;
        }
    }

    &--section {
        font-weight: 300;
        font-size: 36px;
        margin: 0px;

        &::after {
            content: "";
            display: block;
            background-color: #feb06a;
            height: 2px;
            width: 100%;
            justify-content: center;
            margin: 5px 0;
        }
    }
}

.image__logo {
    width: 100%;
}

// .links {
//     display: flex;

//     &__text {
//         color: #feb06a;
//         padding: 0 20px;
//         font-weight: 400;
//         font-size: 30px;
//     }

//     &__item {
//         margin: 10px;
//         background-color: white;
//         box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
//         border: 0px solid rgba(255, 255, 255, 0.3);
//         border-radius: 60px;
//         width: 60px;
//         height: 60px;  
//         transition-duration: 500ms;
//         transition-property: width;
//         display: flex;
//         justify-content: left;
//         align-items: center;
//         overflow: hidden;

//         &:hover {
//             width: 300px;
//         }
//     }
// }

.links {
    display: block;

    &__text {
        color: #feb06a;
        padding: 0 20px;
        font-weight: 400;
        font-size: 25px;
    }

    &__item {
        margin: 20px auto;
        background-color: white;
        box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
        border: 0px solid rgba(255, 255, 255, 0.3);
        border-radius: 60px;
        width: 100%;
        height: 60px;  
        display: flex;
        justify-content: left;
        align-items: center;
        
        &:hover {
            box-shadow: none;
        }
    }
}

.icon {
    width: 50px;
    margin: 0 0 0 5px;
}

.o_autokvizu {
    margin: 5px;
    padding: 30px 40px 0 40px;
    font-size: 16px;
    text-align: center;

    .list {
        list-style: none;
        padding-left: 0;
        font-weight: 100;
        

        &__item {
            padding: 10px 0;
        }
    }
    
    .image__logo {
        width: 80%;
        display: block;
        margin: 40px auto;
    }
}

footer {
    background-color: #087e8b;
    margin: 0;
    text-align: center;
    padding: 5px;

    &__text {
        font-size: 16px;
    }
}

