
$min_tablet--small: 480px;
$min_tablet--big: 767px;
$min_desktop--small: 1024px;
$min_desktop--big: 1280px;

$padding--content: 30px 40px 0 40px;


//-----------template--------------

body {
    box-sizing: border-box;
    background-image: linear-gradient(to left top, #b4dbdc, #91c3c6, #6dacb2, #46959e, #087e8b);
    color: white;
    background: rgb(8,126,139);
    background: linear-gradient(90deg, rgba(8,126,139,1) 0%, rgba(180,219,220,1) 100%);
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.dropbtn {
    border: none;
    background-color: rgba($color: #ffffff, $alpha: 0.0);
    background-image: url(/images/dropdown1.png);
    padding: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: 300ms;
    transition-property: background-image;


    &:hover {
        background-image: url(/images/dropdown2.png);
    }

    &:active {
        box-shadow: none;
    }

    @media screen and (min-width: $min_desktop--small) {
        display: none;
    }
}
  

.dropdown {
    position: relative;
    display: inline-block;
    width: calc(100% / 4);
    padding: 10px;

    &__content {
        display: none;
        position: absolute;
        border-radius: 0px 10px 10px 10px;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
        border: 0px solid rgba(255, 255, 255, 0.3);
        color: #ffffff;
        z-index: 1;
        min-width: 200px;

        & li {
            list-style: none;

            @media screen and (min-width: $min_desktop--small) {            
                backdrop-filter: blur(10px);
                background-color: rgba(255, 255, 255, 0.2);
                box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
                border: 0px solid rgba(255, 255, 255, 0.3);
                border-radius: 20px;
                margin: 5px;
                transition-duration: 500ms;
                transition-property: box-shadow;
            }
            
            &:hover {
            background-color: none;

                @media screen and (min-width: $min_desktop--small) {
                    box-shadow: none;
                }
            }
        }

        & ul {
            padding: 0;
        }

        & a {
            color: #ffffff;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        @media screen and (min-width: $min_desktop--small) {
            display: block;
            position: static;
            border-radius: 0;
            backdrop-filter: none;
            background-color: rgba($color: #000000, $alpha: 0.0);
            box-shadow: none;
            border: none;
            z-index: 0;
        }
    }

    @media screen and (min-width: $min_desktop--small) {
        position: static;
        width: auto;
        padding: 0 0 0 20px;
    }
  }

.dropdown:hover .dropdown__content {display: block;}

.menu {
    @media screen and (min-width: $min_desktop--small) {
        display: flex;
    }
}

.link-q-izi {
    width: 5.1em;
    padding: 10px;

    &__img {
        max-width: 100%;
    }
}


footer {
    background-color: #087e8b;
    margin: 0;
    margin-top: 60px;
    text-align: center;
    padding: 5px;

    &__text {
        font-size: 16px;
    }
}


//--------------o_autokvizu-----------
.content {
    display: flex;   
    padding: $padding--content;
    align-items: center;
    justify-content: space-around;

    @media  screen and (min-width: $min_tablet--big) {
        margin: 0 40px;
    }

    @media screen and (min-width: $min_desktop--small) {
        margin: 0 60px
    }

    &__text--primary {
        flex: 1 0 100%;

        @media screen and (min-width: $min_tablet--big) {
            flex: 1 0 60%;
        }
    }

    &__image {
        display: none;

        @media screen and (min-width: $min_desktop--small) {
            display: block;
        }
    }

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;

        &--img {
        display: none;

        @media screen and (min-width: $min_tablet--big) {
            display: block;
            flex: 1 0 40%;
        }

        @media screen and (min-width: $min_desktop--small) {
            display: none;
        }
    }
    
    }

    @media (min-width: 1500px) {
        padding: 10px 200px;
    }
    
}

.headline {
    font-weight: 200;
    margin: 0 0 40px 0;

    &--big {
        font-size: 56px;

        @media (min-width: 1500px) {
            font-size: 72px;
        }

        &::after{
            content: "";
            display: block;
            background-color: #feb06a;
            height: 2px;
            width: 100%;
            justify-content: center;
            margin-top: 30px;

            @media  screen and (min-width: $min_tablet--small) {
                width: 80%;
                margin: 30px auto 0 auto;
            }

            @media  screen and (min-width: $min_tablet--big) {
                width: 80%;
                margin: 30px 0 0 0;
            }
        }
    }

    &--small {
        font-weight: 300;
        font-size: 28px;

        @media (min-width: 1500px) {
            font-size: 28px;
        }
    }

    &--section {
        font-weight: 300;
        font-size: 36px;
        margin: 0px;

        &::after {
            content: "";
            display: block;
            background-color: #feb06a;
            height: 2px;
            width: 100%;
            justify-content: center;
            margin: 5px 0;

            @media  screen and (min-width: $min_tablet--small) {
                width: 80%;
                margin: 30px auto 0 auto;
            }

            @media screen and (min-width: $min_tablet--big) {
                width: 100%;
                margin: 0;
            }

            @media screen and (min-width: $min_desktop--small) {
                width: 100%;
                margin: 30px auto 0 auto;
            }
        }
    }
}

.image__logo {
    width: 100%;

    @media  screen and (min-width: $min_tablet--small) {
        width: 100%;
    }
}

.links {
    display: block;
    width: 100%;

    &__text {
        color: #feb06a;
        padding: 0 20px;
        font-weight: 400;
        font-size: 25px;
    }

    &__item {
        margin: 20px auto;
        background-color: white;
        box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
        border: 0px solid rgba(255, 255, 255, 0.3);
        border-radius: 60px;
        width: 100%;
        height: 60px;  
        display: flex;
        justify-content: left;
        align-items: center;
        
        &:hover {
            box-shadow: none;
        }

        @media  screen and (min-width: $min_tablet--small) {
            width: 80%;
            margin: 30px auto 0 auto;
        }

        @media screen and (min-width: $min_tablet--big) {
            flex: 1 0 calc(50% - 10px);
            margin: 10px 5px;
        }

        @media screen and (min-width: $min_desktop--small) {
            transition-duration: 500ms;
            transition-property: width;
            overflow: hidden;
            width: 60px;
            flex: 0 0 auto;

            &:hover {
                width: 250px;
                box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
            }
        }
    }

    &--firsttwo, &--secondtwo {
        display: block;

        @media screen and (min-width: $min_tablet--big) {
            display: flex;
        }
    }

    @media  screen and (min-width: $min_tablet--small) {
        width: 80%;
        margin: 30px auto 0 auto;
    }

    @media screen and (min-width: $min_tablet--big) {
        margin: 20px 0;
    }
        
    @media screen and (min-width: $min_desktop--small) {
        display: flex;
        margin: 0;
    }
}

.icon {
    width: 50px;
    margin: 0 0 0 5px;
}

.o_autokvizu {
    margin: 5px;
    padding: 30px 40px 0 40px;
    font-size: 16px;
    text-align: center;

    @media  screen and (min-width: $min_tablet--small) {
        width: 80%;
        margin: 0 auto;
    }

    @media  screen and (min-width: $min_desktop--small) {
        width: 80%;
        margin: 0 60px;
    }

    .list {
        list-style: none;
        padding-left: 0;
        font-weight: 100;
        

        &__item {
            padding: 10px 0;
        }
    }
    
    .image__logo {
        width: 80%;
        display: block;
        margin: 40px auto;

        @media screen and (min-width: $min_tablet--big) {
            display: none;
        }
        
    }
}

//----------epizody----------------

.e-content {
    padding: $padding--content;

    @media screen and (min-width: $min_tablet--big) {
        margin: 0 60px;
    }

    &__image {

        @media screen and (min-width: $min_tablet--small) {
            margin: 0 auto;
            width: 60%;
        }
    }
}

.image__logo--e {
    margin: 40px 0 20px 0;
}


//----------jak_soutezit-----------

.js-content {
    padding: $padding--content;

    &__image {

        @media screen and (min-width: $min_tablet--small) {
            margin: 0 80px;
        }

        @media screen and (min-width: $min_tablet--big) {
            margin: 0 200px;
        }

        @media screen and (min-width: $min_desktop--small) {
            margin: 0;
            flex: 1 0 40%;
        }

        .headline--section {

            @media screen and (min-width: $min_desktop--small)  {
                display: none;
            }           
        }
    }

    &__text {

        @media screen and (min-width: $min_desktop--small) {
            flex: 1 0 50%;
        }
    }

    @media screen and (min-width: $min_desktop--small) {
        margin: 0 60px;
        display: flex;
    }
}

.steps {

    .step {
        display: block;
        padding: 10px;
        margin: 10px;

    }
}

.image__points {
    display: block;
    width: 100%;
    margin-top: 20px;
}

//----------kontakt-------

.k-content {
    padding: $padding--content;

    &__img {
        display: none;
    }

    @media screen and (min-width: $min_tablet--big) {
        .headline--section {
            display: none;
        }
    }
    
    @media screen and (min-width: $min_desktop--small) {
        margin: 0 60px;
        display: flex;
    
        &--text {
            flex: 1 0 50%;
        }

        &--image {
            flex: 1 0 40%;
            margin-left: 30px;
        }

        &__img {
            display: block;
            width: 100%;
        }
    }
}

.links__item {
    &--still {
        @media screen and (min-width: $min_desktop--small) {
            transition-property: none;
            overflow: auto;
            width: 250px;
            flex: 0 0 auto; 
            
            &:hover {
                box-shadow: none;
            }
        }
    }

    &--moving {
        @media screen and (min-width: $min_desktop--small) {
            margin-top: 60px;
        }
    }
        
    
}

.links__item--email, .links__item--phone {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 0px solid rgba(255, 255, 255, 0.3);
}

.links__text--small {
    font-size: 20px;
    color: #ffffff;
}
