<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="dropdown">
            <button class="dropbtn"> </button>
            <div class="dropdown__content">
                <ul class="menu">
                    <li class="menu__item"><a href="/o_autokvizu/">O autokvízu</a></li>
                    <li class="menu__item"><a href="/epizody/">Epizody</a></li>
                    <li class="menu__item"><a href="/jak_soutezit/">Jak soutěžit</a></li>
                    <li class="menu__item"><a href="/kontakt/">Kontakt</a></li>
                </ul>
            </div>
        </div>
        <div class="link-q-izi"><img src="/images/logo q-izi transparent.png" alt="logo Quizi" class="link-q-izi__img"></div>
    </div>

    {{content | safe}}
    
    
    <footer>
        <p class="footer__text">Q-IZI, Andrea Krobauerová 2022</p>
    </footer>
</body>
</html>